extends layout/main
include mixins/videoBlock

block content
    .video
        each item in video
            +videoBlock({
                videofile:item.videofile,
                title:item.title,
                views:item.views
            })
            